page-home {
    .camera-icon {
        font-size: 20pt;
    }

    button {
        background: #fff;
    }

    .chart {
        height: 100% !important;
    }

    .chart-container {
        display: block;
    }
}
